@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

.admin-sidebar {
    width: 18rem;
}

@media (min-width: 1024px) {
    .admin-sidebar.is-collapsed {
        width: 6rem;
    }
}
